# version control
.gitignore
.github/

# configs files
.eslintignore
tsconfig.json

# source files and dirs
src/
**/scripts/
**/tests/
*.yml

# other
.vscode/
*.code-workspace
**/*.map
CONTRIBUTING.md
