name: CI

on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']

env:
  VSIX_FILE: "vscode-bait-${{ github.ref_name }}.vsix"

jobs:
  test-and-package:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - uses: bait-lang/setup-bait@main
      - name: Cache bun global cache
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-cache-${{ hashFiles('bun.lockb') }}
      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Test
        run: bun run test

      - name: Compile
        run: bun run compile
      - name: Package
        run: bun run package

      - name: Upload artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.VSIX_FILE }}
          path: ${{ env.VSIX_FILE }}
          if-no-files-found: error


  publish:
    needs: test-and-package
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: ${{ env.VSIX_FILE }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: ${{ env.VSIX_FILE }}

      - id: publish_to_marketplace
        name: Publish to VS Code Marketplace
        if: always()
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.VSCE_PAT }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ env.VSIX_FILE }}

      - name: Publish to Open VSX Registry
        if: always()
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.OPEN_VSX_PAT }}
          extensionFile: ${{ env.VSIX_FILE }}
